{% extends 'base.html' %}

{% block container %}

    {% if current_user.is_authenticated %}

        {% if current_user.is_admin %}
            <h3>Add a group</h3>
            <div class="top-pad">
                <form
                        method="POST"
                        action="{{ url_for('group.add') }}"
                        role="form">
                    {{ form.csrf_token }}
                    <div class="form-group">{{ form.name.label }}: {{ form.name(class="form-control") }}</div>
                    <div class="form-group">{{ form.description.label }}: {{ form.description(class="form-control") }}</div>

                    <div class="form-group">{{ form.members.label }}: {{ form.members }}</div>

                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}