{% extends 'base.html' %}

{% block container %}

    {% if current_user.is_authenticated %}

        {% if current_user.is_admin %}
            <h3>Would you like to remove this group?</h3>
            <div class="top-pad">
                <form
                        method="POST"
                        action="{{ url_for('group.remove') }}"
                        role="form">
                    {{ form.csrf_token }}
                    <div class="form-group">{{ form.name.label }} {{ form.name(class="form-control", readonly="readonly") }}</div>
                    <button type="submit" class="btn btn-primary">Yes Remove</button>
                    <a href="{{ url_for('home.home') }}">No, go back</a>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
