<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
    <title>BjoLDAP</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ url_for('home.home') }}">Bjo LDAP manager</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="btn btn-default btn-sm">{{ current_user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('login.logout') }}" class="btn btn-secondary btn-sm">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>


{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    </div>
{% endfor %}

<hr>
<div class="container">
    {% block container %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grouptable').DataTable({
            "paging": false,
            "columnDefs": [
                {"orderable": false, "targets": 2},
                {"orderable": false, "targets": 3},
            ]
        });
        $('#usertable').DataTable({
            "paging": false,
            "columnDefs": [
                {"orderable": false, "targets": 4}
            ]
        });
    });
</script>

{% block scripts %}
{% endblock %}
</body>
</html>
