{% extends 'base.html' %}

{% block container %}
    {% if current_user.is_authenticated %}

        <div class="accordion" id="mainAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingZero">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                        Change password
                    </button>
                </h2>

                <div id="collapseZero" class="accordion-collapse collapse show" aria-labelledby="headingZero"
                     data-bs-parent="#mainAccordion">
                    <div class="card-body">

                        <form
                                method="POST"
                                action="{{ url_for('user.password') }}"
                                role="form">
                            {{ form.csrf_token }}
                            <div class="form-group">{{ form.password.label }} {{ form.password(class="form-control") }}</div>
                            <div class="form-group">{{ form.password2.label }} {{ form.password2(class="form-control") }}</div>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>

                    </div>
                </div>
            </div>
            {% if current_user.is_admin %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Groups
                        </button>
                    </h2>

                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#mainAccordion">
                        <div class="card-body">
                            <a href="{{ url_for('group.add') }}" class="btn btn-secondary">Add a group</a>
                            <table class="table table-sm" id="grouptable">
                                <thead>
                                <tr>
                                    <th scope="col">gidNumber</th>
                                    <th scope="col">name</th>
                                    <th scope="col">members</th>
                                    <th scope="col">actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td>{{ group.gidNumber }}</td>
                                        <td>{{ group.cn }}<br><span class="sm">{{ group.description }}</span></td>
                                        <td> {% for member in group.members %}
                                            <a href="{{ url_for('user.edit') }}?username={{ member }}">{{ member }}</a> {% endfor %}
                                        </td>
                                        <td><a href="{{ url_for('group.remove') }}?name={{ group.cn }}">Remove</a>
                                            <a href="{{ url_for('group.edit') }}?name={{ group.cn }}">Edit</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Users
                        </button>
                    </h2>

                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#mainAccordion">
                        <div class="card-body">

                            <a href="{{ url_for('user.add') }}" class="btn btn-secondary">Add a user</a>
                            <table class="table table-sm" id="usertable">
                                <thead>
                                <tr>
                                    <th scope="col">uidNumber</th>
                                    <th scope="col">cn</th>
                                    <th scope="col">name</th>
                                    <th scope="col">email</th>
                                    <th scope="col">actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.uidNumber }}</td>
                                        <td>{{ user.cn }}</td>
                                        <td>{{ user.displayName }}</td>
                                        <td>{{ user.mail }}</td>
                                        <td><a href="{{ url_for('user.remove') }}?username={{ user.cn }}">Remove</a>
                                            <a href="{{ url_for('user.edit') }}?username={{ user.cn }}">Edit</a></td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        {% include "login_form.html" %}
    {% endif %}
{% endblock %}