<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                <form
                        method="POST"
                        action="{{ url_for('login.login') }}"
                        role="form"
                        class="form">
                    {{ form.csrf_token }}
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" id="floatingInput"
                               placeholder="your name">
                        <label for="floatingInput">Login</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                               placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>


                    <div class="d-grid">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                            in
                        </button>
                        <a href="{{ url_for('password.reset') }}">Lost your password?</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
